@use '@webitel/ui-sdk/src/css/main' as *;
@use 'supervisor-workspace';

* {
  box-sizing: border-box;
}

//disables scrollbar on 100vh auth on small laptops
body {
  @extend %typo-body-1;
  display: flex;
  height: auto;
  background: var(--wt-page-wrapper-background-color);
  color: var(--text-main-color);
}

#app {
  width: 100%;
}

iframe {
  border: none;
  outline: none;
}

img {
  width: 100%;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.call-btn {
  background: var(--success-color);
  fill: var(--white);
  border-radius: 50%;
}

.disconnect-btn {
  background: var(--error-color);
  fill: var(--white);
  border-radius: 50%;
}

.call-window-rec-btn {
  fill: var(--white);

  &--off {
    fill: var(--error-color);

    &:hover {
      fill: var(--white);
    }
  }
}

.call-window-btn {
  fill: var(--white);

  &:hover {
    fill: var(--primary-color);
  }

  &--off {
    fill: var(--primary-color);
  }

  &:hover {
    fill: var(--white);
  }
}
