
.the-supervisor-workspace {
}

.the-supervisor-workspace__content {
  display: flex;
  flex-direction: column;

  .wt-page-wrapper {
    flex-grow: 1;
    height: 100%;
    min-height: 0;

    ::v-deep {
      .wt-page-wrapper__main {
        flex: 1 0 50vh;
        max-height: 100%;
        min-height: 0;

        .wt-table {
          max-height: 100%;
        }

        .wt-table__table {
          position: relative;
          display: flex;
          flex-direction: column;

          .wt-table__head {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background: var(--main-color);
            min-width: 100%;
            width: fit-content;
            z-index: 1;
          }

          .wt-table__foot {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            background: var(--main-color);
            min-width: 100%;
            width: fit-content;
            border-color: var(--secondary-color);
            z-index: 1;
          }

          .wt-table__body {
            min-width: 100%;
            width: fit-content;
          }
        }
      }
    }
  }
}
