
.the-supervisor-workspace {
}

.the-supervisor-workspace__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .wt-page-wrapper {
    flex-grow: 1;
    height: 100%;
    min-height: 0;

    ::v-deep {
      .wt-page-wrapper__main {
        flex: 1 0 50vh;
        max-height: 100%;
        min-height: 0;
      }
    }
  }
}
