// DEFAULT BUTTON
$default-btn-color: #FFC107;
$default-btn-color__hover: #FFCB2E;

// SECONDARY BUTTONS
$secondary-btn-color: #4D4D4D;
$secondary-btn-color__hover: #000;

// DISABLED BUTTON
$btn-disabled: #CECCCC;
