.wt-headline {
  .wt-button {
    margin-left: 20px;
  }
}

.main-section-wrapper {
  position: relative;
  width: 100%;

  .wt-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
  min-height: 0;
  box-sizing: border-box;

  &__actions-wrapper {
    display: flex;
    margin-left: auto;
    margin-bottom: var(--spacing-sm);
  }

  .wt-table {
    flex-grow: 1;
    margin-bottom: var(--spacing-sm);
  }

  .table-action:not(:last-child) {
    margin-right: var(--spacing-sm);
  }

  .wt-pagination {
    margin-top: auto;
    margin-left: auto;
  }

  &--tab-table {
    position: relative;

    .wt-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .table-loading-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      min-height: 0;
    }
  }
}
