
.switcher {
  position: relative;
  display: inline-block;
  width: calcRem(40px);
  height: calcRem(22px);
  cursor: pointer;

  input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $icon-color;
    border-radius: calcRem(24px);
    transition: $transition;

    &:before {
      content: '';
      position: absolute;
      bottom: calcRem(4px);
      left: calcRem(4px);
      height: calcRem(15px);
      width: calcRem(15px);
      background: #fff;
      border-radius: 50%;
      transition: $transition;
    }
  }

  input:checked + .slider {
    background: $accent-color;
  }

  input:checked + .slider:before {
    transform: translateX(calcRem(17px));
  }

  &.disabled {
    pointer-events: none;

    .slider {
      background: $icon-color*0.2;

      &:before {
        background: #fff*0.9;
      }
    }

    input:checked + .slider {
      /*background: rgba(255, 193, 7, 0.8);*/
    }
  }
}
