.typo-nav-item {
  font-family: 'Montserrat Medium', monospace;
  font-size: 14px;
  line-height: 16px;
}

.typo-heading-lg {
  font-family: 'Montserrat SemiBold', monospace;
  font-size: 20px;
  line-height: 20px;
}

.typo-heading-md {
  font-family: 'Montserrat SemiBold', monospace;
  font-size: 14px;
  line-height: 20px;
}

.typo-heading-sm {
  font-family: 'Montserrat SemiBold', monospace;
  font-size: 12px;
  line-height: 20px;
}

.typo-body-md {
  font-family: 'Montserrat Regular', monospace;
  font-size: 14px;
  line-height: 20px;
}

.typo-body-sm {
  font-family: 'Montserrat Regular', monospace;
  font-size: 12px;
  line-height: 20px;
}